<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415019838765-qgjulg3l0r9me7bfte0ggjkkk0mofg0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415019838765-qgjulg3l0r9me7bfte0ggjkkk0mofg0u</string>
	<key>API_KEY</key>
	<string>AIzaSyAXI4iaj6vehAmnb6NosseLdpLTBnkirlg</string>
	<key>GCM_SENDER_ID</key>
	<string>415019838765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodApp</string>
	<key>PROJECT_ID</key>
	<string>products-cfc8b</string>
	<key>STORAGE_BUCKET</key>
	<string>products-cfc8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415019838765:ios:6148e1d9633b9c454077a4</string>
	<key>DATABASE_URL</key>
	<string>https://products-cfc8b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>